In [82]:
import pandas as pd 
import numpy as np

In [83]:
file = 'NFP_dataset.csv'
df = pd.read_csv(file)
df

,Unnamed: 0,State,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,State,Average weekly hours,NaN,NaN,Average hourly earnings,NaN,NaN,Average weekly earnings,NaN,NaN,Average Yearly Earnings,NaN,NaN
2,NaN,NaN,2015,2016.0,2017.0,2015,2016.00,2017.00,2015,2016.00,2017.00,2015,2016.00000,2017.00000
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,Alabama,35.5,35.6,35.3,21.02,21.85,22.59,746.21,777.86,797.43,38909.55341,40559.87619,41580.31275
5,AK,Alaska,34.7,34.4,35.1,27.89,28.22,28.29,967.78,970.77,992.98,50462.85576,50618.76303,51776.85684
6,AZ,Arizona,34.7,34.3,34.8,23.13,23.99,25.26,802.61,822.86,879.05,41850.41297,42906.30669,45836.21625
7,AR,Arkansas,34.5,34.2,34.8,19.51,20.07,20.62,673.1,686.39,717.58,35097.38599,35790.36513,37416.70218
8,CA,California,34.6,34.4,34.5,28.05,28.88,29.98,970.53,993.47,1034.31,50606.24874,51802.40686,53931.92290
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00000,0.00000
10,CO,Colorado,34,33.5,33.5,26.85,27.07,27.60,912.9,906.85,924.60,47601.25341,47285.78887,48211.32534
11,CN,Connecticut,33.5,33.6,33.7,29.14,30.43,31.16,976.19,1022.45,1050.09,50901.37755,53313.50811,54754.73786
12,DE,Delaware,33.1,33.2,32.9,22.63,24.40,26.23,749.05,810.08,862.97,39057.63925,42239.92043,44997.75841
13,DC,District of Columbia,35.6,35.6,35.5,38.28,38.41,40.65,1362.77,1367.40,1443.08,71058.77983,71300.20146,75246.37613
14,FL,Florida,34.3,34.0,34.3,22.63,23.31,24.04,776.21,792.54,824.57,40473.84041,41325.33397,42995.47105
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00000,0.00000
16,GA,Georgia,35.1,34.8,34.7,23.84,24.47,25.92,836.78,851.56,899.42,43632.13586,44402.80792,46898.36712
17,HI,Hawaii,33.3,32.7,33.1,24.63,25.42,26.18,820.18,831.23,866.56,42766.56372,43342.74277,45184.95142
18,ID,Idaho,33.4,32.9,33.6,22.08,22.39,22.50,737.47,736.63,756.00,38453.82446,38410.02443,39420.03240
19,IL,Illinois,34.3,34.1,34.2,25.98,26.57,26.81,891.11,906.04,916.90,46465.05962,47243.55312,47809.82501
20,IN,Indiana,34.9,34.7,35.1,22.85,23.52,24.45,797.47,816.14,858.20,41582.39846,42555.90641,44749.03678
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00000,0.00000
22,IA,Iowa,34.7,34.5,34.4,22.55,23.23,23.42,782.49,801.44,805.65,40801.29782,41789.40578,42008.92739
23,KS,Kansas,34.3,33.8,34.1,22.57,22.88,23.25,774.15,773.34,792.83,40366.42604,40324.19029,41340.45541
24,KY,Kentucky,35.3,35.1,35.1,21.08,21.26,21.82,744.12,746.23,765.88,38800.57475,38910.59627,39935.20425
25,LA,Louisiana,35.9,35.1,35.5,22.19,22.65,22.98,796.62,795.02,815.79,41538.077,41454.64836,42537.65639
26,ME,Maine,34.3,33.9,34.0,21.85,22.25,23.22,749.46,754.28,789.48,39079.01783,39330.34661,41165.77669
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00000,0.00000
28,MD,Maryland,34.3,34.3,34.4,27.31,27.27,28.34,936.73,935.36,974.90,48843.81872,48772.38294,50834.11321
29,MA,Massachusetts,33.5,33.4,33.5,30.43,31.23,32.12,1019.41,1043.08,1076.02,53154.99369,54389.21613,56106.80326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,NE,Nebraska,34.1,33.8,34.2,22.18,22.98,24.11,756.34,776.72,824.56,39437.76099,40500.43329,42994.94962
37,NV,Nevada,33.6,33.9,34.1,21.95,22.15,22.52,737.52,750.89,767.93,38456.43161,39153.58218,40042.09720
38,NH,New Hampshire,33.6,33.8,34.0,24.9,25.72,26.30,836.64,869.34,894.20,43624.83586,45329.90869,46626.18118
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00000,0.00000
40,NJ,New Jersey,33.8,34.1,34.0,27.78,28.11,29.18,938.96,958.55,992.12,48960.09738,49981.57680,51732.01395
41,NM,New Mexico,34.2,33.5,33.7,20.47,20.60,21.21,700.07,690.10,714.78,36503.68,35983.81529,37270.70206
42,NY,New York,33.7,33.5,33.4,28.78,29.23,30.08,969.89,979.21,1004.67,50572.87728,51058.84911,52386.40734
43,NC,North Carolina,34.5,34.3,34.5,22.3,23.40,24.12,769.35,802.62,832.14,40116.14012,41850.93440,43390.19281
44,ND,North Dakota,35.1,34.4,34.9,25.29,25.77,26.06,887.68,886.49,909.49,46286.20947,46224.15942,47423.44612
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00000,0.00000
46,OH,Ohio,34.2,34.3,34.4,22.68,23.40,24.04,775.66,802.62,826.98,40445.16181,41850.93440,43121.13544
47,OK,Oklahoma,34.7,35.0,35.5,21.8,22.02,22.86,756.46,770.70,811.53,39444.01813,40186.53303,42315.52764
48,OR,Oregon,34,34.1,34.1,23.53,24.72,25.65,800.02,842.95,874.67,41715.36286,43953.85756,45607.83034
49,PA,Pennsylvania,34,33.8,33.8,24.21,24.67,25.09,823.14,833.85,848.04,42920.90671,43479.35717,44219.26492
50,RI,Rhode Island,33.1,32.7,32.9,24.94,25.99,26.97,825.51,849.87,887.31,43044.48538,44314.68642,46266.91660
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00000,0.00000
52,SC,South Carolina,34.7,34.5,34.6,21.42,22.11,22.90,743.27,762.80,792.34,38756.25328,39774.60412,41314.90539
53,SD,South Dakota,34,34.0,33.7,20.98,21.37,21.95,713.32,726.58,739.72,37194.57343,37885.98828,38571.14599
54,TN,Tennessee,35.2,35.5,35.4,20.9,21.79,22.65,735.68,773.55,801.81,38360.48867,40335.14030,41808.69865
55,TX,Texas,36.1,35.7,35.9,24.46,24.58,25.39,883.01,877.51,911.50,46042.70213,45755.91618,47528.25335
56,UT,Utah,34.8,34.7,35.1,24.17,24.42,25.13,841.12,847.37,882.06,43858.43605,44184.32917,45993.16637
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00000,0.00000
58,VT,Vermont,33.3,33.4,33.5,24.06,24.34,24.43,801.2,812.96,818.41,41776.89148,42390.09198,42674.27079
59,VA,Virginia,35.1,34.9,34.6,26.14,26.96,27.57,917.51,940.90,953.92,47841.63218,49061.25461,49740.15517
60,WA,Washington,34.4,34.6,34.8,29.63,30.33,31.39,1019.27,1049.42,1092.37,53147.69368,54719.80212,56959.33967
61,WV,West Virginia,34.7,35.0,35.5,20.75,20.93,21.74,720.03,732.55,771.77,37544.45229,38197.28140,40242.32593
62,WI,Wisconsin,33.7,33.5,33.7,23.46,24.03,24.73,790.6,805.01,833.40,41224.17674,41975.55593,43455.89286
63,WY,Wyoming,35.1,33.2,34.2,23.13,23.24,23.88,811.86,771.57,816.70,42332.73479,40231.89735,42585.10643
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00000,0.00000
65,NaN,NOTE: State data are currently estimated from ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00000,0.00000

In [84]:
df = df.drop([0, 2, 1, 3, 9, 15, 21, 27, 39, 45, 51, 57, 64, 65])

In [85]:
df.head()

,Unnamed: 0,State,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
4,AL,Alabama,35.5,35.6,35.3,21.02,21.85,22.59,746.21,777.86,797.43,38909.55341,40559.87619,41580.31275
5,AK,Alaska,34.7,34.4,35.1,27.89,28.22,28.29,967.78,970.77,992.98,50462.85576,50618.76303,51776.85684
6,AZ,Arizona,34.7,34.3,34.8,23.13,23.99,25.26,802.61,822.86,879.05,41850.41297,42906.30669,45836.21625
7,AR,Arkansas,34.5,34.2,34.8,19.51,20.07,20.62,673.1,686.39,717.58,35097.38599,35790.36513,37416.70218
8,CA,California,34.6,34.4,34.5,28.05,28.88,29.98,970.53,993.47,1034.31,50606.24874,51802.40686,53931.92290

In [86]:
df = df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10',])

In [87]:
df = df.rename(index=str, columns={"Unnamed: 0": "abbrev", 
                              "Unnamed: 11": '2015 Yearly Earnings'
                             , "Unnamed: 12": '2016 Yearly Earnings'
                             , "Unnamed: 13": '2017 Yearly Earnings'})

In [88]:
df.head()

,abbrev,State,2015 Yearly Earnings,2016 Yearly Earnings,2017 Yearly Earnings
4,AL,Alabama,38909.55341,40559.87619,41580.31275
5,AK,Alaska,50462.85576,50618.76303,51776.85684
6,AZ,Arizona,41850.41297,42906.30669,45836.21625
7,AR,Arkansas,35097.38599,35790.36513,37416.70218
8,CA,California,50606.24874,51802.40686,53931.92290

In [89]:
df.head()

,abbrev,State,2015 Yearly Earnings,2016 Yearly Earnings,2017 Yearly Earnings
4,AL,Alabama,38909.55341,40559.87619,41580.31275
5,AK,Alaska,50462.85576,50618.76303,51776.85684
6,AZ,Arizona,41850.41297,42906.30669,45836.21625
7,AR,Arkansas,35097.38599,35790.36513,37416.70218
8,CA,California,50606.24874,51802.40686,53931.92290

In [91]:
df.to_csv('updated_NFPdata')